* {
  color: rgb(100, 84, 78);
}

.container {
  display: flex;
  background-color: rgb(225, 213, 208);
  align-items: flex-end;
  flex-direction: column;
}

.content {
  align-self: center;
  width: 100%;
  display: flex;
}

.sidebar {
  padding: 10px;
  width: 40%;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.nav {
  justify-content: flex-end;
  padding: 0px;
}
